body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pexels-estudio-polaroid-3112004.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

#form {
    border: 2px solid black;
    padding: 40px;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

form div {
    display: flex;
    width: 100%;
    border-radius: 15px;
    margin: 8px 0 0 0;
    padding: 15px;
    flex-direction: column;
    background-color: rgba(16, 1, 1, 0.2);
}

label {
    color: white; 
    margin-bottom: 8px; 
}

input, select, textarea {
    font-size: 35px;
    padding: 10px;
    margin: 8px 0;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1); 
    border: none;
    color: white; 
}

#emailHelp {
    font-size: 14px;
    color: rgb(228, 173, 90);
    font-weight: bold;
}

#form-check {
    display: flex;
    flex-direction: row;
}

button {
    padding: 12px 24px;
    border-radius: 15px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 20px;
    margin: 12px 0;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: dodgerblue;
}

@media screen and (max-width: 575px){
    .header{
        flex-direction: column;
        gap: 15px;
    
    }
    .header button{
        margin-left: 0;
    }
    .gym_image_container{
        max-width: 100%;
        margin: 0 auto;
    }
    .backimage-text{
        font-size: 15px;
    }
    .video-overlay-text{
        font-size: 15px;
    }
}
        @media only screen and (max-width: 600px) {
            body {
                font-size: 14px;
            }

            .header {
                padding: 10px;
            }

            nav {
                flex-direction: column;
            }

            nav a {
                margin-bottom: 10px;
            }

            .backimage-text h2 {
                font-size: 18px;
            }

            .numbercircle {
                font-size: 18px;
            }

            .info_section_container {
                flex-direction: column;
            }

            .information {
                margin-bottom: 20px;
            }
        }